
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/shared/_Layout.cshtml";
}

<h2>CPCM(Gorup2) Project GroupH</h2>
<p>Paramvir Singh C0912101</p>
<p>Srijan Kandel C0918506</p>
<p>Ashika Majhi C0919527</p>
<p>Pramosh Marikhu C0919512</p>

